<nav class="navbar navbar-dark navbar-expand-md bg-danger shadow-sm">
  {% if session.logged_in %}
  <a class="navbar-brand font-weight-bold text-white" href="/">社会信用体系 - {{ session.name }}</a>
  {% else %}
  <a class="navbar-brand font-weight-bold text-white" href="/">社会信用体系</a>
  {% endif %}
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1"
    aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav me-auto">
      {% if session.logged_in %}
      <li class="nav-item">
        <a class="nav-link" href="/summary">Přehled občanů</a>
      </li>
      {% endif %}
      {% if session.admin %}
      <li class="nav-item my-1 my-md-0">
        <a class="btn btn-outline-light btn-sm" href="/end_day" type="button">Nový den</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/rules">Pravidla</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      {% if session.logged_in %}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Odhlásit se</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Přihlásit se</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Registrace</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
