<nav class="navbar navbar-dark navbar-expand-md" style="background-color:red">
    <a class="navbar-brand" href="/" style="color:yellow">社会信用体系</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar1">
      <ul class="navbar-nav mr-auto">
        {% if session.logged_in %}
          <li class="nav-item active">
              <a class="nav-link" href="/actions">Denní akce</a>
          </li>
        {% endif %}
        <li class="nav-item active">
          <a class="nav-link" href="/summary">Přehled občanů</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if session.logged_in %}
          <li class="nav-item">
            <a class="nav-link" style="color:yellow" href="/logout">Odhlásit se</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" style="color:yellow" href="/login">Přihlásit se</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:yellow" href="/register">Registrace</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
