{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <div class="page-header">
    <h1>Pravidla</h1>
  </div>
  <hr>

  <h2>Sociální úrovně</h2>
  <dl>
    <dt>Úroveň 1</dt>
    <dd>- smíš podávat žádost o <b>vízum</b> i o <b>sňatek</b> (automatické schválení)</dd>
    <dd>- smíš vykonávat <b>nejlepší</b> zaměstnání (vědec, malíř) <b>i bez 2. stupně vzdělání</b></dd>
    <dd>- všechny nákupy máš levnější o 1/3 (nejhorší: 3 peníze, střední: 5 peněz, lahůdka: 9 peněz)</dd>
    <dd>- vidíš body i úroveň vzdělání ostatních občanů</dd>
  </dl>
  <dl>
    <dt>Úroveň 2</dt>
    <dd>- smíš podávat žádost o <b>vízum</b> i o <b>sňatek</b> (slušná šance na schválení)</dd>
    <dd>- pokud máš <b>2. stupeň vzdělání</b>, smíš vykonávat <b>nejlepší</b> zaměstnání (vědec, malíř)</dd>
  </dl>
  <dl>
    <dt>Úroveň 3</dt>
    <dd>- smíš podávat žádost o <b>vízum</b> i o <b>sňatek</b> (slušná šance na schválení)</dd>
    <dd>- smíš vykonávat <b>střední</b> zaměstnání (švadlena, učitel tělocviku, kosmetička) <b>i bez jakéhokoliv vzdělání</b></dd>
  </dl>
  <dl>
    <dt>Úroveň 4</dt>
    <dd>- smíš podávat žádost o <b>vízum</b> i o <b>sňatek</b> (bez garance schválení)</dd>
    <dd>- pokud máš <b>1. stupeň vzdělání</b>, smíš vykonávat <b>střední</b> zaměstnání (švadlena, učitel tělocviku, kosmetička)</dd>
  </dl>
  <dl>
    <dt>Úroveň 5</dt>
    <dd>- smíš podávat žádost o <b>sňatek</b> (bez garance schválení)</dd>
    <dd>- pokud máš <b>1. stupeň vzdělání</b>, smíš vykonávat <b>střední</b> zaměstnání (švadlena, učitel tělocviku, kosmetička)</dd>
  </dl>
  <dl>
    <dt>Úroveň 6</dt>
    <dd>- <b>nesmíš</b> podávat žádost o vízum ani o sňatek</dd>
    <dd>- smíš vykonávat jen <b>nejhorší</b> zaměstnání bez ohledu na vzdělání (uklízečka, kuchař, ovladač semaforu)</dd>
  </dl>
  <dl>
    <dt>Úroveň 7</dt>
    <dd>- <b>nesmíš</b> podávat žádost o vízum ani o sňatek</dd>
    <dd>- smíš vykonávat jen <b>nejhorší</b> zaměstnání bez ohledu na vzdělání (uklízečka, kuchař, ovladač semaforu)</dd>
    <dd>- jsi středem zájmu policie, protože jsi problémový občan</dd>
  </dl>
  <h2>Denní povinnosti</h2>
  <ul>
    <li>sníst porci jídla (pokud se to nepovede, pak se přiznat v aplikaci)</li>
    <li>dostavit se na večerní zprávy</li>
  </ul>

  <h2>Jídlo</h2>
  <ul>
    <li>jídlo si musíš dát každý den</li>
    <li>jídlo si občané můžou přeprodávat</li>
    <li>způsoby shánění porce jídla:
      <ul>
        <li>legální nákup
          <ul>
            <li>nejhorší jídlo – 5 peněz</li>
            <li>střední jídlo – 8 peněz</li>
            <li>lahůdka – 13 peněz</li>
          </ul>
        </li>
        <li>pěstování
          <ol>
            <li>jdi ven a vykopej motyčkou dírku do země</li>
            <li>zasaď semínko</li>
            <li>zalej ho 5 lžičkami vody (smíš použít jen lžičku)</li>
            <li>zatancuj a 3x zazpívej: <i>„Vstávej semínko holala, bude z tebe fiala.“</i></li>
            <li>vylosuj si z pytlíku úrodu</li>
          </ol>
        </li>
        <li>nákup na černém trhu
          <ul>
            <li>sladkost – 10 peněz</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <h2>Typy zaměstnání</h2>
  <dl>
    <dt>Nejhorší</dt>
    <dd>
      <ul>
        <li>doba práce: <b>5 minut</b></li>
        <li>výdělek za den: <b>5 peněz</b></li>
      </ul>
    </dd>
    <dd>- <i>uklízečka:</i>
      <ul>
        <li>uklízíš po rautu, umýváš nádobí, zametáš, myješ podlahu, utíráš prach, … </li>
      </ul>
    </dd>
    <dd>- <i>kuchař:</i>
      <ul>
        <li>krájíš suroviny na oběd (až je dokrájeno, mícháš, vaříš, …)</li>
      </ul>
    </dd>
    <dd>- <i>ovladač semaforu:</i>
      <ul>
        <li>každou půl minutu přepneš zelenou a červenou</li>
        <li>půl minutu před zprávami přepneš na červenou a necháš ji tam do konce dne</li>
      </ul>
    </dd>
  </dl>
  <dl>
    <dt>Střední</dt>
    <dd>toto zaměstnání můžeš dělat, pokud:
      <ul>
        <li>máš sociální úroveň alespoň <b>5 nebo 4</b> a zároveň máš vystudován <b>1. stupeň vzdělání</b></li>
        <li><b>bez vzdělání</b>, pokud máš sociální úroveň alespoň <b>3</b></li>
      </ul>
    </dd>
    <dd>- <i>švadlena</i>
      <ul>
        <li>zašíváš roztrhané oblečení, přišíváš knoflík, …</li>
        <li>práce je splněna po zašití/přišití <b>3 kusů</b> oblečení/knoflíků</li>
        <li>výdělek: <b>15</b> peněz za den</li>
      </ul>
    </dd>
    <dd>- <i>učitel tělocviku</i>
      <ul>
        <li>cvičíš: kliky, dřepy, plank, sklapovačky, …</li>
        <li>práce je splněna po <b>3 minutách</b> činnosti</li>
        <li>výdělek: <b>15</b> peněz za den</li>
      </ul>
    </dd>
    <dd>- <i>kadeřnice/manikérka</i>
      <ul>
        <li>zkrášluješ lidi: lakování nehtů, dělání účesů, masky na obličej, …</li>
        <li>práce je splněna po zkrášlení <b>1 zákazníka</b></li>
        <li>výdělek: základní sazba <b>5 peněz</b> + dalších <b>5</b> za každého zákazníka, kterého obsloužíš</li>
      </ul>
    </dd>
  </dl>
  <dl>
    <dt>Prestižní</dt>
    <dd>toto zaměstnání můžeš dělat, pokud:
      <ul>
        <li>máš sociální úroveň <b>3</b> nebo <b>2</b> a zároveň <b>2. stupeň vzdělání</b></li>
        <li><b>bez vzdělání</b>, pokud máš sociální úroveň 1</li>
      </ul>
    </dd>
    <dd>- <i>vědec</i>
      <ul>
        <li>luštíš sudoku, křížovku, hlavolamy, …</li>
        <li>práce je splněna, jakmile vyřešíš jedno sudoku/křížovku/hlavolam nebo po 3 minutách (když luštíš rychle, smíš odejít dřív)</li>
        <li>výdělek: <b>20</b> peněz za den</li>
      </ul>
    </dd>
    <dd>- <i>malíř</i>
      <ul>
        <li>maluješ obraz/tvoříš dílo</li>
        <li>práce je splněna, jakmile dílo dokončíš</li>
        <li>výdělek: <b>20</b> peněz za den</li>
      </ul>
    </dd>
  </dl>

  <h2>Vzdělání</h2>
  <dl>
    <dt>1. stupeň vzdělání</dt>
    <dd>- splň <b>2 úkoly</b>, které nabízí škola</dd>
    <dd>- potvrď v aplikaci, že jsi se vzdělal</dd>
  </dl> 
    <dt>2. stupeň vzdělání</dt>
    <dd>- splň další <b>2 úkoly</b>, které nabízí škola</dd>
    <dd>- potvrď v aplikaci, že jsi se vzdělal</dd>
  </dl>

  <h2>Párty</h2>
  <ul>
    <li><b>nachystat</b> párty znamená:
      <ul>
        <li>nakreslit <b>pozvánky</b> s datem a časem konání a rozdat je alespoň dalším 2 účastníkům</li>
			  <li>mít koupené aspoň <b>3 porce jídla</b></li>
			  <li><b>pozvat</b> úředníka, vůdce, policistu nebo IT pracovníka</li>
		  </ul>
	  </li>
    <li><b>průběh</b> párty:
      <ul>
        <li>účastníci párty si řeknou alespoň 3 vtipy</li>
        <li>účastníci si udělají společnou fotku</b></li>
			  <li>účastníci (kromě papalášů) sní jídlo (a tím mají splněnou povinnost)</li>
        <li>papaláš párty ohodnotí</li>
      </ul>
    </li>
    <li><b>úrovně</b> párty:
      <ul>
        <li><i>obyčejná:</i> byly splněny základní požadavky na párty</li>
        <li><i>dobrá: </i>byly splněny základní požadavky na párty + navíc byly k dispozici <b>lahůdky nebo alkohol</b></li>
        <li><i>boží</i>
          <ul>
           <li>byly spolněny podmínky <i>dobré</i> párty + navíc organizátor párty odvedl <b>dobrou práci:</b> papaláš se dobře bavil (kvalitní vtipy, krásné pozvánky, ...)</li>
           <li>pokud jsou na párty <b>sladkosti</b>, párty je automaticky <i>boží</i>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  
  <h2>Nevím, co dělat</h2>
  můžeš:
  <ul>
    <li>jít dělat dobrovolnickou činnost</li>
    <li>starat se o rodiče</li>
    <li>potají dělat skauting</li>
    <li>dát si něco dobrého v hospodě</li>
    <li>jít studovat</li>
    <li>jít do práce</li>
    <li>uspořádat párty</li>
    <li>vypěstovat jídlo</li>
    <li>pomoct matce s dítětem</li>
    <li>zajít do salonu krásy ke kosmetičce</li>
    <li>jít na internet (videa, hry)</li>
    <li>plnit úkoly podle zadání postavy</li>
  </ul>
</div>
{% endblock %}