{% extends 'layout.html' %}

{% block body %}
<div class="card shadow-sm">
  <div class="card-body">
    <h1 class="h4 mb-3">Přehled občanů</h1>
    <div class="table-responsive">
      <table class="table table-striped table-sm align-middle mb-0">
        <tr>
          <th>Jméno</th>
          <th>Sociální úroveň</th>
          <th>
            {% if session.admin or 2 > user.get_level() %}
            Skóre
            {% endif %}
          </th>
          <th>Úroveň vzdělání</th>
          <th>
            {% if not session.admin %}
            Hodnotit
            {% endif %}
          </th>
        </tr>
        {% for citizen in citizens %}
        <tr>
          <td>{{citizen.name}}</td>
          <td>{{citizen.get_level()}}</td>
          <td>
            {% if session.admin or 2 > user.get_level() %}
            {{citizen.score}}
            {% endif %}
          </td>
          <td>
            {% if session.admin or 2 > user.get_level() or citizen.name == session.name %}
            {{citizen.education}}
            {% endif %}
          </td>
          <td>
            {% if session.admin %}
            <a href="edit/{{citizen.name}}" class="btn btn-info btn-sm">Upravit</a>
            {% else %}
            {% if citizen.name != session.name %}
            <a href="downrate/{{citizen.name}}" class="btn btn-danger btn-sm">-</a>
            <a href="uprate/{{citizen.name}}" class="btn btn-success btn-sm">+</a>
            {% endif %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
